@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<profile name="Sync Enumerator">
    <div class="text-center">
        <h1 class="display-4">Movies</h1>
        @{
            foreach (var movie in Model.Movies)
            {
                <p>@movie.title</p>
            }
        }
    </div>
</profile>

<profile name="Async Enumerator">
    <div class="text-center">
        <h1 class="display-4">Movies Async</h1>
        @{
            await foreach (var movie in Model.MoviesAsync)
            {
                <p>@movie.title</p>
            }
        }
    </div>
</profile>